/bin
/grainField.xcodeproj/project.xcworkspace/xcuserdata/komori.xcuserdatad/UserInterfaceState.xcuserstate


### Objective-C.gitignore
# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
 
#CocoaPods
Pods
 
 
### Global/OSX.gitignore ###
.DS_Store
.AppleDouble
.LSOverride
Icon
 
# Files that might appear on external disk
.Spotlight-V100
.Trashes
 
### Global/Windows.gitignore ###
# Windows image file caches
Thumbs.db
ehthumbs.db
 
# Folder config file
Desktop.ini
 
# Recycle Bin used on file shares
$RECYCLE.BIN/
 
### Global/Vim.gitignore
*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
